<!DOCTYPE html>
<html>

<head>
    <title>Elegant Notes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #5cdb95 !important;
        }

        .navbar-custom-color {
            background-color: #05386b;
        }

        .navbar-brand-font {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .input-group-text {
            background: #edf5e1 !important;
            color: #05385b !important;

        }

        .logo-custom {
            color: #edf5e1;
        }

        .btn-custom-style {
            background-color: #05386b;
            color: #edf5e1;
            font-family: Sans-serif, Tahoma, Verdana;
            height: 40px;
            width: 80px;
            margin-top: 0.5em;
            margin-right: auto;

        }

        .edit-button {
            margin-left: 1em;
            margin-right: 1em;
        }

        .btn-custom-style:hover {
            background-color: #379683;
        }

        .navbar {
            height: 54px;
        }

        .note {
            background-color: #EDF5E1;
            border-radius: 10px;
            box-shadow: 2px 2px 5px gray;
            display: inline-block;
            padding: 20px;
            text-align: center;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            margin: 1em;
            justify-content: center;
        }

        .note:hover {
            transform: translateY(-2px);
            box-shadow: 4px 4px 10px gray;
            background-color: #ddd;
            cursor: pointer;
        }

        .options button {
            /* width: 45%; */
            display: inline-flexbox;
        }

        .user-name {
            font-size: 18px;
            color: #fff;
            margin-right: 20px;
        }

        .custom-logout {
            background-color: #edf5e1;
            color: #05386b;
            font-family: Sans-serif, Tahoma, Verdana;
            padding: 5px 15px;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
        }

        .custom-logout:hover {
            background-color: #379683;
            color: white;
        }
    </style>

</head>

<body>
    <!-- -----------------navbar section-------------------------- -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom-color">
        <a class="navbar-brand navbar-brand-font" href="/notes/"><span class="logo-custom"><i
                    class="fas fa-sticky-note"></i></span><span class="logo-custom"> Elegant Notes</span></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="button" class="btn btn-link nav-link new-note-custom" data-bs-toggle="modal"
                        data-bs-target="#createModal">
                        <span class="input-group-text">
                            <i class="fas fa-plus"></i>
                            <span style="padding-left: 0.5em; font-family: sans-serif, Verdana, Tahoma;">New Note</span>
                        </span>
                    </button>
                </li>
            </ul>
        </div>
        <!-- user name display and logout functionality -->
        <span class="user-name">Hello, {{request.user}} </span>
        <span><a class="custom-logout" href="{% url 'user_app:logout' %}"> Logout</a></span>

    </nav>


    <div class="container-fluid">

        <!-- left side div for displaying list of notes -->
        <div class="row">
            <div class="col-md-4 scroll1"
                style="background-color: #8ee4af; height: calc(100vh - 54px); overflow-y: scroll; display: inline-flexbox; flex-direction: column; text-align: center;">
                <!-- Left Column -->
                <!-- Add your list of notes here, with title, edit, and delete buttons -->
                {% for note in notes %}
                <div class="note">
                    <div style="height: 75%;">
                        <h2 class="text">{{note.title}}</h2>
                        <p>Created : {{note.created_on}}</p>
                        <p>Last Updated: {{note.updated_on}}</p>
                    </div>
                    <div class="options" style="height: 25%; display: inline-flex; align-items: center;">
                        <button type="button" class="btn btn-block mb-3 btn-custom-style view-button"
                            data-title="{{ note.title }}" data-description="{{ note.description }}">View</button>
                        <button type="button" class="btn btn-block mb-3 btn-custom-style edit-button"
                            data-bs-toggle="modal" data-bs-target="#updateModal" data-note-id="{{ note.id }}"
                            data-title="{{ note.title }}" data-description="{{ note.description }}">Edit</button>
                        <button type="button" class="btn btn-block mb-3 btn-custom-style delete-button"
                            data-bs-toggle="modal" data-bs-target="#deleteModal"
                            data-note-id="{{ note.id }}">Delete</button>
                    </div>
                </div>
                {% endfor %}
            </div>


            <!-- right side div for displaying note content -->
            <div class="col-md-8 note-content scroll2"
                style="background-color: #edf5e1; height: calc(100vh - 54px); overflow-y: scroll;">

                <div class="notepad mt-3 p-3"
                    style="background-color: #edf5e1; border-radius: 10px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);">
                    <div class="notepad-header d-flex justify-content-between align-items-center p-2"
                        style="background-color: #05386b;">
                        <h5 class="m-0" style="color: #edf5e1;">Notepad</h5>
                        <div class="ml-auto"
                            style="background-color: #05386B; width: 30px; height: 30px; border-radius: 50%;"></div>
                    </div>
                    <div class="notepad-body p-3" style="background-color: #fff; min-height: 400px;">
                        <h5 id="note-title" class="text-muted m-0">Note Title</h5>
                        <hr class="my-3">
                        <p id="note-description" class="m-0 text-muted" style="min-height: 240px;">Note Description</p>
                    </div>

                    <div class="notepad-footer d-flex align-items-center p-2"
                        style="background-color: #05386b; color: #fff;">
                        <div style="background-color: #05386B; width: 30px; height: 30px; border-radius: 50%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this note?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="delete-note-button" value="">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Create Note</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" id="title" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" rows="10" id="description" required></textarea>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="create-note-button">Create Note</button>
                </div>

            </div>
        </div>
    </div>


    <!-- update modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Update Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="updateNoteForm">
                        {% csrf_token %}
                        <div class="form-group update-content">
                            <label for="updateTitle">Title</label>
                            <input type="text" class="form-control note-title-update" id="updateTitle" name="title"
                                value="">
                        </div>
                        <div class="form-group note-description-update">
                            <label for="updateDescription">Description</label>
                            <textarea class="form-control " id="updateDescription" name="description"
                                rows="10"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="update-note-button" value="">Update</button>
                </div>
            </div>
        </div>
    </div>


    <!-- alertModal -->

    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alertModalLabel">Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Success/Failure message goes here...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>



    <!-- script for note view -->
    <script>
        document.querySelectorAll('.view-button').forEach(function (button) {
            button.addEventListener('click', function () {
                const title = this.getAttribute('data-title');
                const description = this.getAttribute('data-description');
                document.querySelector('.note-content').innerHTML = `
                <!-- Add your note content here -->
                <div class="notepad mt-3 p-3" style="background-color: #edf5e1; border-radius: 10px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);">
                    <div class="notepad-header d-flex justify-content-between align-items-center p-2" style="background-color: #05386b;">
                      <h5 class="m-0" style="color: #edf5e1;">Notepad</h5>
                      <div class="ml-auto" style="background-color: #05386B; width: 30px; height: 30px; border-radius: 50%;"></div>
                    </div>
                
                    <div class="notepad-body p-3" style="background-color: #fff; min-height: 400px;">
                      <h5 id="note-title" class="text m-0">${title}</h5>
                      <hr class="my-3">
                      <p id="note-description" class="m-0 text" style="min-height: 240px;">${description}</p>
                    </div>
                
                    <div class="notepad-footer d-flex align-items-center p-2" style="background-color: #05386b; color: #fff;">
                      <div style="background-color: #05386B; width: 30px; height: 30px; border-radius: 50%;"></div>
                    </div>
                  </div>
        `;
            });
        });

    </script>





    <!-- script for delete functionality -->
    <script>
        $(document).on("click", ".options .delete-button", function () {
            $("#deleteModal").modal("show");
            var note_id = $(this).data('note-id');
            $(".modal-footer #delete-note-button").val(note_id);

        });

        $(document).on("click", "#delete-note-button", function () {
            // Add your code here to delete the note
            // var note_id = $(this).data('note-id');
            var note_id = $(this).attr('value');


            function getCookie(name) {
                var dc = document.cookie;
                var prefix = name + "=";
                var begin = dc.indexOf("; " + prefix);
                if (begin == -1) {
                    begin = dc.indexOf(prefix);
                    if (begin != 0) return null;
                }
                else {
                    begin += 2;
                    var end = document.cookie.indexOf(";", begin);
                    if (end == -1) {
                        end = dc.length;
                    }
                }
                // because unescape has been deprecated, replaced with decodeURI
                //return unescape(dc.substring(begin + prefix.length, end));
                return decodeURI(dc.substring(begin + prefix.length, end));
            }


            $.ajax({
                url: "/notes/delete/" + note_id,
                type: "DELETE",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                },
                success: function (message, status, xhr) {
                    if (xhr.status === 200) {
                        // Show a success message to the user
                        $("#alertModal .modal-body").html("<p>Note has been deleted successfully.</p>");
                        $("#deleteModal").modal("hide");
                        $("#alertModal").modal("show");
                        setTimeout(function () {
                            location.reload()
                        }, 2000);

                    }
                    else {
                        $("#alertModal .modal-body").html("<p>Error: Note not found</p>");
                        $("#deleteModal").modal("hide");
                        $("#alertModal").modal("show");
                        setTimeout(function () {
                            location.reload()
                        }, 2000);

                    }
                },
                error: function (error) {
                    // Show an error message to the user
                    $("#alertModal .modal-body").html("<p>An error occurred while deleting the note, please try again.</p>");
                    $("#deleteModal").modal("hide");
                    $("#alertModal").modal("show");
                    setTimeout(function () {
                        location.reload()
                    }, 2000);
                }
            });


        });

    </script>

    <!-- script for create functionality -->
    <script>
        $(document).on("click", ".collapse .new-note-custom", function () {
            $("#createModal").modal("show");

        });

        $(document).on("click", "#create-note-button", function () {
            var title = $('#title').val();
            var description = $('#description').val();


            function getCookie(name) {
                var dc = document.cookie;
                var prefix = name + "=";
                var begin = dc.indexOf("; " + prefix);
                if (begin == -1) {
                    begin = dc.indexOf(prefix);
                    if (begin != 0) return null;
                }
                else {
                    begin += 2;
                    var end = document.cookie.indexOf(";", begin);
                    if (end == -1) {
                        end = dc.length;
                    }
                }
                // because unescape has been deprecated, replaced with decodeURI
                //return unescape(dc.substring(begin + prefix.length, end));
                return decodeURI(dc.substring(begin + prefix.length, end));
            }
            $.ajax({
                type: 'POST',
                url: "/notes/create/",
                data: {
                    csrfmiddlewaretoken: getCookie("csrftoken"),
                    title: title,
                    description: description
                },
                success: function (message, status, xhr) {
                    if (xhr.status === 200) {
                        // Show a success message to the user
                        $("#alertModal .modal-body").html("<p>Note has been created successfully.</p>");
                        $("#createModal").modal("hide");
                        $("#alertModal").modal("show");
                        setTimeout(function () {
                            location.reload()
                        }, 2000);


                    }
                    else {
                        $("#alertModal .modal-body").html("<p>Note created failed.</p>");
                        $("#createModal").modal("hide");
                        $("#alertModal").modal("show");
                        setTimeout(function () {
                            location.reload()
                        }, 2000);

                    }
                },
                error: function (error) {
                    // Show an error message to the user
                    $("#alertModal .modal-body").html("<p>An error occurred while creating the note, please try again.</p>");
                    $("#createModal").modal("hide");
                    $("#alertModal").modal("show");
                    setTimeout(function () {
                        location.reload()
                    }, 2000);
                }
            });


        });


    </script>

    <!-- script for update functionality -->
    <script>
        $(document).on("click", ".options .edit-button", function () {

            $("#updateModal").modal("show");
            //passing note_id from edit button into update note button in update modal
            var note_id = $(this).data('note-id');
            $(".modal-footer #update-note-button").val(note_id);

            //placing existing title and description in modal fields
            var note_title = $(this).data('title');
            var note_description = $(this).data('description');
            $(".update-content .note-title-update").val(note_title);
            //workaround for placing text in text area of update modal
            document.querySelector('.note-description-update').innerHTML = `
                <label for="updateDescription" >Description</label>
                <textarea class="form-control " id="updateDescription" name="description" rows="10">${note_description}</textarea>
            `;

        });

        $(document).on("click", "#update-note-button", function () {
            // getting title and description from the updateModal
            var title = $('#updateTitle').val();
            var description = $('#updateDescription').val();
            // note_id that was passed to update note button from edit button
            var note_id = $(this).attr('value');


            function getCookie(name) {
                var dc = document.cookie;
                var prefix = name + "=";
                var begin = dc.indexOf("; " + prefix);
                if (begin == -1) {
                    begin = dc.indexOf(prefix);
                    if (begin != 0) return null;
                }
                else {
                    begin += 2;
                    var end = document.cookie.indexOf(";", begin);
                    if (end == -1) {
                        end = dc.length;
                    }
                }
                // because unescape has been deprecated, replaced with decodeURI
                //return unescape(dc.substring(begin + prefix.length, end));
                return decodeURI(dc.substring(begin + prefix.length, end));
            }
            $.ajax({
                type: 'POST',
                url: "/notes/update/" + note_id,
                data: {
                    csrfmiddlewaretoken: getCookie("csrftoken"),
                    title: title,
                    description: description
                },
                success: function (message, status, xhr) {
                    if (xhr.status === 200) {
                        // Show a success message to the user
                        $("#alertModal .modal-body").html("<p>Note updated successfully.</p>");
                        $("#updateModal").modal("hide");
                        $("#alertModal").modal("show");
                        setTimeout(function () {
                            location.reload()
                        }, 2000);

                    }
                    else {
                        $("#alertModal .modal-body").html("<p>Error: Note not updated.</p>");
                        $("#updateModal").modal("hide");
                        $("#alertModal").modal("show");
                        setTimeout(function () {
                            location.reload()
                        }, 2000);
                    }
                },
                error: function (error) {
                    // Show an error message to the user
                    $("#alertModal .modal-body").html("<p>An error occurred while updating the note, please try again.</p>");
                    $("#updateModal").modal("hide");
                    $("#alertModal").modal("show");
                    setTimeout(function () {
                        location.reload()
                    }, 2000);
                }
            });


        });



    </script>
</body>

</html>